# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!Makefile

blockchain.db

.DS_Store

_book/
node_modules/
blockchain

### Above combination will ignore all files without extension ###
